* {padding: 0%;
    margin: 0%;}
.header {
    background-color:  #10c29b;
}
.nav > ul > li>  a:visited{color: rgb(153, 0, 255);}
.nav > ul > li>  a:link{color: rgb(40, 219, 243);}
.nav > ul > li>  a:hover{color: red;}
.nav > ul > li>  a:active{color: rgb(255, 251, 0);}
li {display: inline-block; padding: 10px; }
li:hover{background-color: #10c29b;}
.nav {background-color: black;text-align: center;}
a{text-decoration: none; font-size: larger;}
.footer {background:  linear-gradient(#ffffff, #10c29b ); text-align: center;clear: both;}
.footer > p {color: rgb(0, 0, 0);}
::selection{
    color: rgb(0, 0, 0);
    background-color: rgb(229, 255, 0);
}
.header {text-align: center; width:100%;padding-bottom:20px ;}
.header > h1{color: rgb(0, 0, 0);}

table{margin: auto ;width: 60%;border-collapse: collapse;}
th{background-color:rgb(0, 0, 0);color: #10c29b;}
table,td,th{border: 0.5px solid lightgray;padding: 5px;text-align: center;}
tr:hover{background-color: lightblue !important;}
tr:nth-child(odd){background-color:rgb(224, 224, 224);}
table:hover{box-shadow: #10c29b 0px 10px 20px, #10c29b 0px 6px 6px;}

.title{text-align: center; font-weight: bolder; font-size:xx-large; }

#div {
    
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50px;
    right: 50px;
    animation-name: left;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    display: block;
    color:#10c29b;}
#div > p{padding: 25% 24% 20% 18%;text-align: center;}
  
  @keyframes left { from{transform:rotate(0deg) ;}
  to{transform:rotate(360deg) ;}
  }
.active{background-color: #10c29b;}
